absl-py==1.4.0
accelerate==1.0.1
adagio==0.2.4
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.7.5
annotated-types==0.7.0
ansi2html==1.8.0
antlr4-python3-runtime==4.11.1
anyio==3.4.0
appdirs==1.4.4
argon2-cffi==21.1.0
args==0.1.0
array-record==0.4.0
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrdict==2.0.1
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
bleach==4.1.0
blinker==1.4
braceexpand==0.1.7
cached-property==1.5.1
cachetools==5.3.1
catboost==1.2
category-encoders==2.2.2
certifi==2019.11.28
certipy==0.1.3
cffi==1.15.0
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
clint==0.5.1
clip==1.0
cloudpickle==2.2.1
cmake==3.26.4
cmdstanpy==1.1.0
contourpy==1.1.0
convertdate==2.4.0
cryptography==36.0.0
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.35
darts==0.24.0
dash==2.11.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datasets==3.1.0
dbus-python==1.2.16
debugpy==1.5.1
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
diffusers==0.32.1
dill==0.3.8
distro==1.4.0
dm-tree==0.1.8
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
einops==0.8.1
entrypoints==0.3
ephem==4.1.4
etils==1.3.0
exceptiongroup==1.3.0
fairscale==0.4.13
fastapi==0.115.13
filelock==3.12.2
Flask==2.2.5
flatbuffers==1.12
fonttools==4.40.0
frozenlist==1.3.3
fs==2.4.16
fsspec==2023.6.0
ftfy==6.2.3
fugue==0.8.5
fugue-sql-antlr==0.1.6
gast==0.4.0
google-ai-generativelanguage==0.1.0
google-api-core==2.25.0
google-auth==2.20.0
google-auth-oauthlib==0.4.6
google-generativeai==0.1.0rc1
google-pasta==0.2.0
googleapis-common-protos==1.59.1
graphviz==0.20.1
greenlet==1.1.2
gretel-synthetics==0.20.0
grpcio==1.54.2
grpcio-status==1.70.0
h11==0.16.0
h5py==3.9.0
holidays==0.27.1
hpsv2==1.2.0
httplib2==0.14.0
huggingface-hub==0.30.2
idna==2.8
image-reward==1.5
importlib-metadata==6.7.0
importlib-resources==5.4.0
iniconfig==2.1.0
ipykernel==6.14.0
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
itsdangerous==2.1.2
jax==0.4.12
jedi==0.18.1
Jinja2==3.0.3
joblib==1.2.0
json5==0.9.6
jsonschema==4.2.1
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.6.3
jupyter-core==5.3.1
jupyter-dash==0.4.2
jupyter-server==1.12.0
jupyter-telemetry==0.1.0
jupyterhub==1.5.0
jupyterlab==3.2.4
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==3.0.7
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libclang==16.0.0
lightgbm==3.3.5
lightning-utilities==0.8.0
lit==16.0.6
llvmlite==0.40.1
loky==2.9.0
LunarCalendar==0.0.9
macaroonbakery==1.3.1
Mako==1.2.4
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.3
mistune==0.8.4
ml-dtypes==0.2.0
more-itertools==4.2.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.16
nbclassic==0.3.4
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.4
networkx==3.1
nfoursid==1.0.1
notebook==6.4.6
numba==0.57.1
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.41
nvidia-nvtx-cu12==12.1.105
oauthlib==3.1.0
opt-einsum==3.3.0
orjson==3.9.1
packaging==23.1
pamela==1.0.0
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.2
patsy==0.5.3
peft==0.13.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.7.0
plotly==5.15.0
plotly-resampler==0.8.3.2
pluggy==1.5.0
pmdarima==2.0.3
prometheus-client==0.12.0
promise==2.3
prompt-toolkit==3.0.38
prophet==1.1.4
proto-plus==1.26.1
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pyarrow==17.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.16.2
pycparser==2.21
pycups==1.9.73
pydantic==2.10.6
pydantic-core==2.27.2
pyg-lib==0.2.0+pt20cu117
Pygments==2.10.0
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyMeeus==0.5.12
PyNaCl==1.3.0
pyngrok==7.2.11
pyod==1.1.0
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyRFC3339==1.1
pyrsistent==0.18.0
pytest==7.2.0
pytest-split==0.8.0
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-json-logger==2.0.2
pytorch-lightning==2.0.4
pytorch-metric-learning==2.8.1
pytz==2023.3
PyYAML==6.0
pyzmq==22.3.0
qpd==0.4.3
qtconsole==5.4.3
QtPy==2.3.1
regex==2024.11.6
requests==2.22.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
retrying==1.3.4
rsa==4.9
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
safetensors==0.5.3
scikit-learn==1.2.2
scipy==1.10.1
screen-resolution-extra==0.0.0
seaborn==0.12.2
SecretStorage==2.3.1
Send2Trash==1.8.0
sentencepiece==0.1.97
shap==0.41.0
simplejson==3.16.0
six==1.14.0
slicer==0.0.7
smart-open==5.2.1
sniffio==1.2.0
SQLAlchemy==1.4.27
sqlglot==16.4.2
starlette==0.44.0
statsforecast==1.5.0
statsmodels==0.14.0
sympy==1.12
systemd-python==234
tbats==1.1.3
tenacity==8.2.2
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.1
tensorflow==2.9.1
tensorflow-datasets==4.9.2
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.13.1
tensorflow-privacy==0.7.3
tensorflow-probability==0.16.0
termcolor==2.3.0
terminado==0.12.1
testpath==0.5.0
texttable==1.6.2
threadpoolctl==3.1.0
timm==1.0.15
tokenizers==0.20.3
toml==0.10.2
tomli==2.2.1
torch==2.4.1
torch-cluster==1.6.1+pt20cu117
torch-geometric==2.3.1
torch-geometric-temporal==0.54.0
torch-scatter==2.1.1+pt20cu117
torch-sparse==0.6.17+pt20cu117
torch-spline-conv==1.2.2+pt20cu117
torchaudio==2.4.1
torchmetrics==0.11.4
torchvision==0.19.1
tornado==6.1
tqdm==4.65.0
trace-updater==0.0.9.1
traitlets==5.9.0
transformers==4.46.3
triad==0.9.0
triton==3.0.0
typing-extensions==4.13.2
tzdata==2023.3
ufw==0.36
urllib3==1.25.8
uvicorn==0.33.0
wadllib==1.3.3
wcwidth==0.2.13
webdataset==0.2.100
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.2.3
widgetsnbextension==4.0.7
wrapt==1.14.1
xarray==2023.1.0
xgboost==1.7.6
xkit==0.0.0
xxhash==3.5.0
yarl==1.9.2
zipp==3.6.0
